<div class="card ">
  <div class="card-header">
    <p class="card-text">{{pageTitle}}</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <p>Filter By:</p>
      </div>
      <div class="col-md-4">
        <input type="text"
               [(ngModel)]='listFilter'>
        <!-- to use this ngModel directive must be brought into module -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <table class="table"
           *ngIf="products.length">
      <thead>
        <tr>
          <th>
            <button class="btn btn-primary"
                    (click)='toggleImage()'>{{showImage ? 'Hide' : 'Show'}} Image</button>
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star Rating</th>
        </tr>
      </thead>
      <tbody>
        <!-- for of  iterates over the objects not the properties -->
        <!-- for in iterates over the properties/indexes -->
        <tr *ngFor='let product of products'>
          <td><img [src]="product.imageUrl"
                 alt="img"
                 [title]="product.productName"
                 [style.width.px]='imageWidth'
                 style.margin.px={{imageMargin}}
                 *ngIf="showImage"></td>
          <td>
            <a [routerLink]="['/products', product.productId]">
              {{product.productName }}
            </a>
          </td>
          <!-- <td>{{product.productCode | lowercase}}</td> -->
          <td>{{product.productCode | convertToSpaces: "-"}}</td>
          <td>{{product.releaseDate}}</td>
          <td>{{product.price |currency: 'USD':'symbol':'1.2-2' |lowercase}}</td>
          <!-- <td>{{product.price |currency |lowercase}}</td> -->
          <!-- <td>{{product.starRating}}</td> -->
          <td>
            <pm-star [rating]='product.starRating'
                     (ratingClicked)='onRatingClicked($event)'>
            </pm-star>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>